/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* HEADER */
.header-top {
  color: blue;
  padding: 20px;
}
.header-bottom {
  color: white;
  background-color: blue;
  padding: 20px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  gap: 20px;
}
